<h2>New author</h2>
<form action="/authors" method="POST">
    <%- include ../partials/_form_fields.ejs %>
    <br>
    <a href="/authors">Cancel</a>
    <button type="submit" class="btn btn-primary">Create</button>
</form>